/* index.css */

html, body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Roboto', sans-serif; /* Set Roboto as the default font */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden !important;
  width: 100% !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Georgia', serif; /* Updated font for headings */
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.no-margin {
  margin-top: 42px !important; 
  margin-left: -81px !important; 
  margin-right: -81px !important;
  /* Remove negative margins */
  padding: 0 !important; /* Override any existing padding */
}

.navbar {
  width: 100vw;
  padding-left: 0 !important;
  padding-right: 0 !important;
  /* Removed box-shadow */
}

.navbar-shadow {
  box-shadow: 0 4px 8px rgba(0,0,0,0.4);
  z-index: 1000;
}

.container-fluid {
  width: 100vw;
  padding-left: 0 !important;
  padding-right: 0 !important;
  /* Removed box-shadow */
}

* {
  box-sizing: border-box !important;
}

img {
  max-width: 100% !important;
  display: block !important;
}

@media (max-width: 992px) {
  .navbar-nav {
    flex-direction: row; /* Ensure items are in a row */
  }
}

.search-suggestions {
  background-color: white; /* White background for suggestions */
  width: 80%; /* Match the width of the search bar */
}

.suggestion-card {
  border: none; /* Remove card border */
}

.suggestion-header {
  color: black; /* Black text color */
  cursor: pointer; /* Pointer cursor for clickable items */
}

.suggestion-header:hover {
  background-color: #f0f0f0; /* Optional: Change background on hover */
}

.cart-item-count {
  position: absolute;
  top: 0rem;
  right: 0.6rem;
  background: #11b0d2;
  color: #fff;
  border-radius: 50%;
  padding: 2px 7px;
  font-size: 0.8rem;
  font-weight: 700;
  min-width: 20px;
  min-height: 20px;
  text-align: center;
  z-index: 2;
  line-height: 1.2;
  transition: all 0.2s;
}

@media (max-width: 991.98px) {
  .cart-item-count {
    position: absolute !important;
    display: inline-block !important;
    margin-left: 0.4rem !important;
    top: 0rem !important;
    right: 0rem !important;
    font-size: 0.9rem !important;
    min-width: 1.3rem !important;
    min-height: 1.3rem !important;
    vertical-align: middle;
    background: #11b0d2;
  }
}
